In [1]:
import pandas as pd

In [11]:
Test = pd.read_csv('../../modesto/Data/ElectricityPrices/DAM_prices_and_volumes_hourly.csv', sep=';', 
                   parse_dates=True, dayfirst=True, index_col=0)

In [12]:
Test

,price_DE,volume_DE,price_FR,volume_FR,price_CH,volume_CH,price_BE,volume_BE
datetime_be,,,,,,,,
2005-02-08 00:00:00,31.88,8218.2,NaN,NaN,NaN,NaN,31.88,8218.2
2005-02-08 01:00:00,29.37,8160.7,NaN,NaN,NaN,NaN,29.37,8160.7
2005-02-08 02:00:00,31.42,7702.9,NaN,NaN,NaN,NaN,31.42,7702.9
2005-02-08 03:00:00,29.78,8164.0,NaN,NaN,NaN,NaN,29.78,8164.0
2005-02-08 04:00:00,30.12,7635.6,NaN,NaN,NaN,NaN,30.12,7635.6
2005-02-08 05:00:00,32.09,7464.6,NaN,NaN,NaN,NaN,32.09,7464.6
2005-02-08 06:00:00,33.57,8666.6,NaN,NaN,NaN,NaN,33.57,8666.6
2005-02-08 07:00:00,44.07,9775.5,NaN,NaN,NaN,NaN,44.07,9775.5
2005-02-08 08:00:00,48.92,9979.7,NaN,NaN,NaN,NaN,48.92,9979.7
2005-02-08 09:00:00,50.39,10040.7,NaN,NaN,NaN,NaN,50.39,10040.7
2005-02-08 10:00:00,51.09,9749.1,NaN,NaN,NaN,NaN,51.09,9749.1
2005-02-08 11:00:00,52.99,10021.4,NaN,NaN,NaN,NaN,52.99,10021.4
2005-02-08 12:00:00,49.82,9976.7,NaN,NaN,NaN,NaN,49.82,9976.7
2005-02-08 13:00:00,49.77,9793.3,NaN,NaN,NaN,NaN,49.77,9793.3
2005-02-08 14:00:00,45.33,10093.4,NaN,NaN,NaN,NaN,45.33,10093.4
2005-02-08 15:00:00,40.54,10037.9,NaN,NaN,NaN,NaN,40.54,10037.9
2005-02-08 16:00:00,40.61,10607.0,NaN,NaN,NaN,NaN,40.61,10607.0
2005-02-08 17:00:00,42.99,10798.4,NaN,NaN,NaN,NaN,42.99,10798.4
2005-02-08 18:00:00,74.91,10916.4,NaN,NaN,NaN,NaN,74.91,10916.4
2005-02-08 19:00:00,52.77,10639.0,NaN,NaN,NaN,NaN,52.77,10639.0
2005-02-08 20:00:00,42.03,9241.9,NaN,NaN,NaN,NaN,42.03,9241.9
2005-02-08 21:00:00,36.05,8890.3,NaN,NaN,NaN,NaN,36.05,8890.3
2005-02-08 22:00:00,36.08,8706.2,NaN,NaN,NaN,NaN,36.08,8706.2
2005-02-08 23:00:00,30.01,8762.4,NaN,NaN,NaN,NaN,30.01,8762.4
2005-02-09 00:00:00,34.82,8456.9,NaN,NaN,NaN,NaN,34.82,8456.9
2005-02-09 01:00:00,32.21,8228.0,NaN,NaN,NaN,NaN,32.21,8228.0
2005-02-09 02:00:00,32.09,8093.3,NaN,NaN,NaN,NaN,32.09,8093.3
2005-02-09 03:00:00,30.05,8622.8,NaN,NaN,NaN,NaN,30.05,8622.8
2005-02-09 04:00:00,28.58,8122.4,NaN,NaN,NaN,NaN,28.58,8122.4
2005-02-09 05:00:00,33.05,8294.4,NaN,NaN,NaN,NaN,33.05,8294.4
...,...,...,...,...,...,...,...,...
2017-09-01 16:00:00,38.56,27025.5,38.56,16163.2,41.40,2165.6,38.56,16163.2
2017-09-01 16:00:00,38.56,27025.5,38.56,16163.2,41.40,2165.6,41.40,2165.6
2017-09-01 17:00:00,40.36,26555.6,40.36,15222.3,43.06,2166.6,40.36,1831.0
2017-09-01 17:00:00,40.36,26555.6,40.36,15222.3,43.06,2166.6,40.36,26555.6
2017-09-01 17:00:00,40.36,26555.6,40.36,15222.3,43.06,2166.6,40.36,15222.3
2017-09-01 17:00:00,40.36,26555.6,40.36,15222.3,43.06,2166.6,43.06,2166.6
2017-09-01 18:00:00,42.20,26064.0,42.20,14454.4,44.35,2920.9,42.20,1787.3
2017-09-01 18:00:00,42.20,26064.0,42.20,14454.4,44.35,2920.9,42.20,26064.0
2017-09-01 18:00:00,42.20,26064.0,42.20,14454.4,44.35,2920.9,42.20,14454.4
2017-09-01 18:00:00,42.20,26064.0,42.20,14454.4,44.35,2920.9,44.35,2920.9
2017-09-01 19:00:00,43.74,23823.7,43.74,13816.6,44.79,3186.9,43.74,1885.3
2017-09-01 19:00:00,43.74,23823.7,43.74,13816.6,44.79,3186.9,43.74,23823.7
2017-09-01 19:00:00,43.74,23823.7,43.74,13816.6,44.79,3186.9,43.74,13816.6
2017-09-01 19:00:00,43.74,23823.7,43.74,13816.6,44.79,3186.9,44.79,3186.9
2017-09-01 20:00:00,43.95,20485.3,43.95,13067.8,44.20,2975.6,43.95,1584.2
2017-09-01 20:00:00,43.95,20485.3,43.95,13067.8,44.20,2975.6,43.95,20485.3
2017-09-01 20:00:00,43.95,20485.3,43.95,13067.8,44.20,2975.6,43.95,13067.8
2017-09-01 20:00:00,43.95,20485.3,43.95,13067.8,44.20,2975.6,44.20,2975.6
2017-09-01 21:00:00,39.40,20825.8,39.40,13107.6,41.57,2531.2,39.40,1467.5
2017-09-01 21:00:00,39.40,20825.8,39.40,13107.6,41.57,2531.2,39.40,20825.8
2017-09-01 21:00:00,39.40,20825.8,39.40,13107.6,41.57,2531.2,39.40,13107.6
2017-09-01 21:00:00,39.40,20825.8,39.40,13107.6,41.57,2531.2,41.57,2531.2
2017-09-01 22:00:00,36.21,21281.0,38.13,14586.4,38.71,2342.1,37.70,1219.4
2017-09-01 22:00:00,36.21,21281.0,38.13,14586.4,38.71,2342.1,36.21,21281.0
2017-09-01 22:00:00,36.21,21281.0,38.13,14586.4,38.71,2342.1,38.13,14586.4
2017-09-01 22:00:00,36.21,21281.0,38.13,14586.4,38.71,2342.1,38.71,2342.1
2017-09-01 23:00:00,34.51,21293.9,34.51,14496.8,36.18,2003.2,34.51,1420.3
2017-09-01 23:00:00,34.51,21293.9,34.51,14496.8,36.18,2003.2,34.51,21293.9
2017-09-01 23:00:00,34.51,21293.9,34.51,14496.8,36.18,2003.2,34.51,14496.8
2017-09-01 23:00:00,34.51,21293.9,34.51,14496.8,36.18,2003.2,36.18,2003.2

In [13]:
Test.to_csv('../../modesto/Data/ElectricityPrices/DAM_prices_and_volumes_hourly_new.csv', sep=';')